/* -- reset -- */

html {
  font: 100%/1.15;
}

body,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 1.15em;
}

dd {
  margin-left: 0;
}


header p {
  font-size: 80%
}

/* -- flexible images -- */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

dl {
  font-size:1.1em;
  line-height:1.5;
}

/* -- my styles -- */

h1,
h2,
h3, {
  font-family: Georgia, "Times New Roman", serif;
}

h1 {
  font-size: 3.5em;
  line-height: 1;
  text-transform: uppercase;
  font-family: Palatino, serif;
  color:#ff441a;
}


/* -- line height doesnt use em because it is already linked to the font size, adding anything else would just be confusing -- */


figcaption {
  text-align: right;
}

p {
  margin-top: 1em;
}


li {
  margin-top: .5em;
}


section,
ul,
ol {
  padding-top: 1em;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  max-width: 48rem;
  background-color: #f5dda0;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: #fff;
  padding: 2em;
  border: .3em #ca6f1e;
  border-radius: 2em;
}


div {
  font-size:.8em;
  line-height:1.5;
}


.ingredients ul{
  line-height:1.5;
}

.ingredients h2{
  color:#ff5733;
}

.directions ol{
  line-height:1.5;
}

.directions h2{
  color:#ff5733;
}


.byline,
a {
  color:#ff5733;
}

footer{
  color:#ff5733;
}


header p {
  color:#ffc300;
}


/* -- breakpoint for wider screens -- */

/* -- @media (min-width: 48em) {

  body {
    font-size: 125%;
  }
} -- */
